DATABASE_URL=file:local.db
MQTT_URL=mqtt://test.mosquitto.org
# See https://svelte.dev/docs/kit/adapter-node#Environment-variables-ORIGIN-PROTOCOL_HEADER-HOST_HEADER-and-PORT_HEADER
ORIGIN=http://localhost:3000
PROTOCOL_HEADER=
HOST_HEADER=
