@import "tailwindcss";

@theme {
    --color-border: oklch(0.33 0.06 282.58);
    --color-background: oklch(0.17 0.02 283.8);
    --color-foreground: oklch(0.92 0.03 285.88);
    --color-secondary: oklch(0.23 0.04 282.93);
    --color-secondary-foreground: oklch(0.92 0.03 285.88);

    --color-brand: rgb(204, 153, 255);
    --color-brand-foreground: oklch(0.17 0.02 283.8);

    --font-sans: Poppins, sans-serif;
}

@media (prefers-color-scheme: light) {
    :root {
        --color-border: oklch(0.91 0.02 285.96);
        --color-background: oklch(0.97 0.01 286.15);
        --color-foreground: oklch(0.3 0.06 282.42);
        --color-secondary: oklch(0.92 0.04 292.69);
        --color-secondary-foreground: oklch(0.41 0.1 288.17);
    }
}

* {
    @apply border-border;
}

html,
body {
    @apply flex h-full min-h-dvh flex-col;
    @apply bg-background font-sans text-foreground;
}

:focus-visible {
    @apply ring-1 ring-brand outline-none;
}

.icon-button {
    @apply rounded transition-colors;
    @apply hover:bg-brand/10 hover:text-brand;
    @apply focus:bg-brand/10 focus:text-brand;
}

input[type="text"],
input[type="search"] {
    @apply border bg-background px-2 py-1 text-foreground;
}

h1 {
    @apply text-3xl font-bold;
}
h2 {
    @apply text-2xl font-bold;
}
h3 {
    @apply text-xl font-bold;
}
h4 {
    @apply text-lg font-semibold;
}
